<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pizza.common.user.mapper.LoginMapper">
    
     <select id="selectOneUserForLogin" resultType="com.pizza.common.user.vo.UserVO" 
        			parameterType="com.pizza.common.user.vo.LoginVO">
        SELECT /*selectOneUser*/
        	   USER_ID,
		       EMAIL_ADDR,
		       USER_NAME,
		       PASSWORD,
		       USER_TYPE_CD,
		       USER_STAT_CD,
		       PASSWORD_ERR_CNT
		  FROM pizza.USER_BASE
		 WHERE EMAIL_ADDR = #{emailAddr}
		   AND USE_YN = 'Y'
    </select>
    
     <insert id="insertLoginHistory" parameterType="com.pizza.common.user.vo.LoginVO">
		INSERT INTO /*insertLoginHistory*/
					 pizza.LOGIN_HISTORY
		(
		 USER_ID, 
		 LOGIN_TIMESTAMP, 
		 LOGIN_IP
		 ) 
		VALUES 
		(
		#{userId},
		 CURRENT_TIMESTAMP,
		#{loginIp}
		)
    </insert>
    
    

</mapper>

