<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pizza.common.user.mapper.UserListMapper">

    <select id="getNow" resultType="java.lang.String">
        SELECT NOW()
    </select>
    
    <select id="selectOneUser" resultType="com.pizza.common.user.vo.UserVO">
        SELECT /*selectOneUser*/
        	   USER_ID,
		       EMAIL_ADDR,
		       USER_NAME,
		       PASSWORD,
		       USER_TYPE_CD,
		       USER_STAT_CD,
		       PASSWORD_ERR_CNT
		  FROM pizza.USER_BASE
		 WHERE 1=1
		   AND USER_ID = #{userId}
    </select>
    
    <select id="removeUser" resultType="com.pizza.common.user.vo.UserVO">
        DELETE /*selectOneUser*/
          FROM pizza.USER_BASE
         WHERE 1=1
		   AND USER_ID = #{userId}
    </select>    
    
    
    
    <select id="updateUser" resultType="com.pizza.common.user.vo.UserVO">
		UPDATE pizza.USER_BASE
		   SET EMAIL_ADDR = #{emailAddr},
		       USER_NAME = #{userName},
		       PASSWORD = #{password},
		       USER_TYPE_CD = #{userTypeCd},
		       USER_STAT_CD = #{userStatCd},
		       PASSWORD_ERR_CNT = #{passwordErrCnt}
		 WHERE 1=1
		   AND USER_ID = #{userId};    
    </select>    
   
    
    <select id="insertUser" resultType="com.pizza.common.user.vo.UserVO">
   INSERT INTO pizza.USER_BASE 
    			   (EMAIL_ADDR,USER_NAME,PASSWORD,USER_TYPE_CD,USER_STAT_CD,PASSWORD_ERR_CNT,USE_YN) 
    		VALUES (#{emailAddr},#{userName},#{password},#{userTypeCd},#{userStatCd},#{passwordErrCnt},'Y');	   
    </select>       
    
    
    
    
    
    <select id="selectUserList" parameterType="com.pizza.common.user.vo.UserVO" resultType="com.pizza.common.user.vo.UserVO">
        SELECT /*userListMapper.selectUserList*/
        	   USER_ID,
		       EMAIL_ADDR,
		       USER_NAME,
		       USER_TYPE_CD,
		       USER_STAT_CD,
		       PASSWORD_ERR_CNT,
		       USE_YN
		  FROM pizza.USER_BASE
		 WHERE USE_YN = 'Y'
            <if test="userStatCd != null">
       			AND USER_STAT_CD = #{userStatCd}
            </if>
    </select>




    <select id="selectUserListCount" parameterType="com.pizza.common.user.vo.UserVO" resultType="com.pizza.common.user.vo.UserVO">
        SELECT /*userListMapper.selectUserList*/
        	   count(*) as total
		  FROM pizza.USER_BASE
		 WHERE USE_YN = 'Y'
            <if test="userStatCd != null">
       			AND USER_STAT_CD = #{userStatCd}
            </if>
    </select>

</mapper>

