<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pizza.common.tree.mapper.TreeListMapper">

    <select id="getNow" resultType="java.lang.String">
        SELECT NOW()
    </select>
    
    <select id="selectOneTree" resultType="com.pizza.common.tree.vo.TreeVO">
		SELECT /*selectOneTree*/
        	   TREE_ID,
		       USER_ID,
		       TREE_NAME,
		       DESCRIPTION,
		       ITEM_STATUS_CODE
		  FROM TREE
		 WHERE (TREE_ID = 6);

    </select>
    
    <select id="removeTree" resultType="com.pizza.common.tree.vo.TreeVO">
        DELETE /*selectOneTree*/
          FROM pizza.TREE
         WHERE 1=1
		    AND TREE_ID = #{treeId}
    </select>    
    
    <select id="updateTree" resultType="com.pizza.common.tree.vo.TreeVO">
		UPDATE pizza.TREE
		   SET USER_ID = #{userId},
		       TREE_NAME = #{treeName},
		       DESCRIPTION = #{description},
		       ITEM_STATUS_CODE = #{itemStatusCode}
		 WHERE 1=1
		   AND USER_ID = #{treeId};    
    </select>    
   
    
    <select id="insertTree" resultType="com.pizza.common.tree.vo.TreeVO">
  INSERT INTO pizza.TREE 
    			(TREE_ID,USER_ID,TREE_NAME,DESCRIPTION,ITEM_STATUS_CODE) 
   		VALUES (#{treeId},#{userId},#{treeName},#{description},#{itemStatusCode});	   
    </select>       
    
    <select id="selectTreeList" parameterType="com.pizza.common.tree.vo.TreeVO" resultType="com.pizza.common.tree.vo.TreeVO">
        SELECT /*treeListMapper.selectTreeList*/
              TREE_ID,
         	   USER_ID,
         	   TREE_NAME,
         	   DESCRIPTION,
         	   ITEM_STATUS_CODE
		  FROM pizza.TREE
		 WHERE 1=1
    </select>

    <select id="selectTreeListCount" parameterType="com.pizza.common.tree.vo.TreeVO" resultType="com.pizza.common.tree.vo.TreeVO">
        SELECT /*treeListMapper.selectTreeList*/
        	   count(*) as total
		  FROM pizza.TREE
		 WHERE 1=1
    </select>

</mapper>

